<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ayewam.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AyewamWidgetExtensionExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>695693F62DDCC82D00D94B9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6956940D2DDCC82F00D94B9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>695694172DDCC82F00D94B9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>695694AB2DDE082400D94B9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
